body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  
}

.typing-container {
  text-align: left; 
  margin: 20px; 
}

#typing-title {
  font-size: 17px;
  margin: 0 0 10px 0; 
  display: inline-block;
  border-right: 2px solid #333;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  color: pink;
}

#typing-paragraph {
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  color: pink;
}


@keyframes glow {
  0% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
      opacity: 0.3;
  }
  50% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.9); 
      opacity: 1;
  }
  100% {
      text-shadow: 0 0 10px green(255, 255, 255, 0.8); 
      opacity: 0.5;
  }
}


#typing-response {
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  animation: glow 8s infinite; 
}
